{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}
{% set active_link = 'company_index' %}

{% block body %}
    <a class="pull-right" href="{{ path('app_company_new') }}"><button class="btn btn-primary add_button" type="button">Ajouter</button></a>
    <h1>Liste des entreprises</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>
                    <a href="{{ path('app_company_show', {'id': company.id}) }}"><i class="fa-regular fa-eye"></i></a>
                    <a href="{{ path('app_company_edit', {'id': company.id}) }}"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_company_new') }}">Ajouter</a>
{% endblock %}
